@charset "UTF-8";

header menu{
    padding-bottom: 10px;
}

header div#logo{
    background-color: #fff;
}

div#logo div{
    height: 200px;
    width: 50%;
}

div#img_lado_logo > img{
    width: 200px;
}

header div#img_logo{
   text-align: left; line-height: 150px;
}

header h1{
     font-size: 4em;
     color: #e28aa1;
     text-shadow: 1px 1px 2px #000000a1;
     
}

@media screen and (max-width: 645px) {
    header h1{
        font-size: 3em;
    }
}

