@charset "UFT-8";

main{
    margin: 100px 10px 200px 10px;
    position:relative;
}


article{
    display: grid;
    justify-content: space-evenly;
    grid-template: repeat(1, 1fr) / repeat(6, 1fr);
    grid-auto-rows: 1fr;
    
  
}


.card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    line-height: 1em;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #00000067;
    box-sizing: border-box;
    overflow: hidden;
    color: #f4b6c0;
    margin-bottom: 10px;
    
}

.inform{
    line-height: 1.5em;
    padding: 5px;
}

.card > p{
    text-align: center;
    font-weight: bolder;
    padding-top: 5px;
}

section .card img{
    width: 100%;
}

section .card button{
    background-color: #62b834;
    font-weight: bold;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    border: none;
    padding: 2px;
    width: 100%;
}

section .card button:hover{
    background-color: #82f345;

}


section h1{
    font-size: 2em;
    text-shadow: 1px 1px 2px #000000a1;
    color: #e28aa1;
    margin-top: 150px;
    padding-bottom: 5px;
}

@media screen and (max-width: 1200px) {

    article{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
    }
}

/*@media screen and (min-width: 360px) and (max-width: 1200px) {

    article{
    display: grid;
    justify-content: space-evenly;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
    grid-auto-rows: 1fr;
    
  
}
   
}*/



