@charset "UFT-8";

main{
    margin: 100px 10px 200px 10px;
}

section{
    margin-left: 40px;
    margin-bottom: 150px;
}



.card{
    display: inline-block;
    width: 18%;
    line-height: 1em;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #00000067;
    box-sizing: border-box;
    overflow: hidden;
    color: #f4b6c0;
    margin: 5px;
}

.card > p{
    text-align: center;
    font-weight: bolder;
    padding-top: 5px;
}

section .card img{
    width: 100%;
}

section .card button{
    background-color: #62b834;
    font-weight: bold;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    border: none;
    padding: 2px;
    width: 100%;
}

section .card button:hover{
    background-color: #82f345;

}


section h1{
    font-size: 2em;
    text-shadow: 1px 1px 2px #000000a1;
    color: #e28aa1;
    margin-bottom: 50px;
}