@charset "UTF-8";

.card{
    display: inline-block;
    width: 30%;
    line-height: 2em;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px #00000067;
    box-sizing: border-box;
    overflow: hidden;
    color: #f4b6c0;
}

.inform{
    line-height: 1.5em;
    padding: 5px;
}

.card > p{
    /* font-size: small; */
    text-align: center;
    font-weight: bolder;
    
    padding-top: 5px;
}