@charset "UTF-8";

@font-face {
    font-family: 'Play';
    src: url('../fonts/PlaywriteIN-VariableFont_wght.ttf') format('truetype');
}

:root {
    --cor1: #f204ff81;
    --cor_ouro: #af9b40;
    --font_padrao:  Arial, Verdana, Helvetica, sans-serif;
    --cor_links: #f204ffc2;
    --cor_links_active: #2088fffd;
    --font_a_mao: 'Play';
}

/*
#e28aa1-rosa medio
#5f7c4f-verde folha claro
#2d3c27-verde folha escuro
#f3f0eb-creme
#f4b6c0-rosa claro
#b01a2e-vermelho rosado profundo 
*/
header {
    background-image: linear-gradient(to right, #f4b6c0 50%, #e28aa1);
    display: flex;
    flex-flow: column nowrap;    
    
}

header a {
    font-weight: bolder;
    color: #fff;
    margin: 10px;
    text-decoration: none;
}

header div#logo p{
    font-style: italic;
    color: #b97183;
}

header div#logo p::before{
    content: '"';
}

header div#logo p::after{
    content: '"';
}


header #imenu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}



header ul{
    list-style-type: none;
    display: flex;
}

header menu ul li{
    padding-left: 50px;
}

header #imenu a:hover{
    color: #c75170;
}

header #img_menu{
    display: none;
}

div#logo{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}



div#logo div{
    height: 400px;
    width: 50%;
}

/*LOGOTIPO*/
header div#img_logo img{
    width: 300px; 
}

/*BOTÃO DE CADASTRO*/
div#logo button{
    background-color: #62b834; 
    font-weight: 900;
    color: #fff;
    border: none; padding: 8px; border-radius: 20px;
}

div#logo button:hover{
    background-color: #82ff3fd5;
}

div#img_lado_logo{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
}

div#img_lado_logo > img{
    width: 400px;
}

@media screen and (min-width: 360px) and (max-width: 640px) {

    header #img_menu{
        display: block;
        width: 50px;
        height: 50px;
    }

    header #imenu{
        display: none;
        background-color: #fff;
        z-index: 55;
    }

        header div#img_logo img{
            display: none;
           width: 100px;
           height: 100px;
        }

        header div#img_logo{
            text-align: center;
            z-index: 1;
            
        }

        #img_lado_logo img{
            width: 100%;
        }


}


