@charset "UTF-8";

@font-face {
    font-family: 'Play';
    src: url('../fonts/PlaywriteIN-VariableFont_wght.ttf') format('truetype');
}

:root {
    --cor1: #f204ff81;
    --cor_ouro: #af9b40;
    --font_padrao:  Arial, Verdana, Helvetica, sans-serif;
    --cor_links: #f204ffc2;
    --cor_links_active: #2088fffd;
    --font_a_mao: 'Play';
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 200px;
    
    
}



section{
    text-align: center;
    width: 98%;
}

section#parte1{
    position: relative;
    text-align: left;
    margin-bottom: 100px;
}



.slid{
    display: none;
}

.slid.ativo{
    display: flex;
    justify-content: space-evenly;
    animation: moveSlid 1s ease-in-out 1;
}

section#parte1 h1{
    font-size: 2em;
    text-shadow: 1px 1px 2px #000000a1;
    color: #e28aa1;
    margin-bottom: 50px;
}

section#parte1  img{
    
    width: 100%;

}

#parte1 button{
    background-color: #f7def5;
    font-size: x-large;
    color: #fff;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    z-index: 5;
}

#back{
    left: 10px;
}

#next{
    right: 10px;
}

/*ANIMAÇÃO PARA OS SLID*/


@keyframes moveSlid{
    from{
        transform: translateX(200px);
        
    }
}

@keyframes moveEs{
    from{
        transform: translateX(-200px);
        
    }
}


section#parte2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #f4b6c0;
    padding: 20px;
}

section#parte2 img{
    border-radius: 20px;
    width: 500px;
    height: 350px;
}

section#parte2 #conteudo{
    line-height: 1.8em;
    font-size: 2em;
    color: #e28aa1;
    width: 500px;
    height: 350px;
}

section#parte2 #conteudo h1{
    font-family: var(--font_a_mao);
    margin-bottom: 20px;
}

section#parte2 #conteudo p{
    font-family: var(--font_a_mao);
}

@media screen and (max-width: 645px) {
    section#parte2 {
    flex-flow: row wrap-reverse;
    align-items: center;
}

section#parte2 #conteudo{
    padding-top: 10px;
    font-size: 2em;
    
}
}

