@charset "UTF-8";


:root {
    --cor1: #f204ff81;
    --cor_ouro: #af9b40;
    --font_padrao:  Arial, Verdana, Helvetica, sans-serif;
    --cor_links: #f204ffc2;
    --cor_links_active: #2088fffd;
    --font_a_mao: 'Play';
}


/*Mobal*/

@media screen and (max-width: 670px) {

    header #img_menu{
        display: block;
        width: 25px;
        height: 25px;
    }

    header #imenu{
        display: none;
        background-color: #fff;
        z-index: 55;
    }

        header div#img_logo img{
           width: 100px;
           height: 100px;
        }

        header div#img_logo{
            text-align: center;
            z-index: 1;
            
        }

        #img_lado_logo img{
            width: 100%;
        }


}