@charset "UTF-8";


:root {
    --cor1: #f204ff81;
    --cor_ouro: #af9b40;
    --font_padrao:  Arial, Verdana, Helvetica, sans-serif;
    --cor_links: #f204ffc2;
    --cor_links_active: #2088fffd;
    --font_a_mao: 'Play';
}


/*Mobal 360 × 640 px*/

